@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    width: 100%;
    font-size: 62.5%;
    background-image: url(Assets/Images/images.jpg);
    background-size: cover;
}

html, body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    height: 100vh;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.container1{
    height: 70vh;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(49, 153, 172);
    max-height: 5rem;
    background-image: url(Assets/Images/4D-Wallpaper-05-1920-x-1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.home #Drops{
    display: none;
}

.home a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .home a.icon{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .home a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }

.home ul{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 10px;
    
}

.nav-item{
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 550;
}

.nav-item a{
    text-decoration: none;
    color: whitesmoke;
}

.logo{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

.next img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    padding: 10px;
}

.next{
    text-align: center;
}

.next h1{
    font-weight: 700;
    font-size: 3rem;
    color: rgb(23, 93, 105);
    animation:blinking 1.8s infinite;
}

@keyframes blinking{
0%{   color: rgb(245, 10, 10);   }
47%{   color: rgb(94, 89, 31); }
62%{   color: rgb(60, 80, 32); }
97%{   color:transparent; }
100%{  color: #000;   }
    
}

.next p{
    color: rgba(14, 8, 8, 0.815);
    font-weight: bolder;
    font-size: 9px;
    text-align: center;
    line-height: 18px;
}

.details{
    background-image: url(Assets/Images/4D-Wallpaper-05-1920-x-1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-around;
    color: rgb(228, 222, 147);
    margin-bottom: 50px;
    padding-bottom: 30px;
    height: 40vh;
    margin-top: 40px;
}

.vast,
.query{
    margin-top: 40px;
    padding-left: 30px;
}

.vast h4{
    font-size: 2.2rem;
}

.vast p{
    font-size: 1.2rem;
    line-height: 17px;
}

.query h5{
    font-size: medium;
}

.query h6{
    font-size: small;
    padding-top: 5px;
    line-height: 39px;
}

.vast{
    padding-left: 9rem;
}

.query{
    padding-right: 22rem;
    margin-right: 30px;
}

.serve{
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

.serve > div {
    width: 300px;
    height: 30vh;
    text-align: center;
    line-height: 17px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.services h4{
    color: whitesmoke;
    font-size: 3.2rem;
    padding-left: 110px;
    padding-top: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(23, 93, 105);
}

.ux{
    background-image: url(Assets/Images/thumb-350-1182053.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 7px 8px;
    transition: box-shadow 0.8s linear;
    color: rgb(115, 178, 194);
    font-size: 1.8rem;
    opacity: 0.9;
}

.ux h5{
    font-size: 2rem;
}

.ux p{
    padding-left: 10px;
    padding-right: 10px;
}

.ux:hover{
    box-shadow: 0 1px 5px 4px;
    border-width: 10px;
    opacity: 1.0;
}

.web{
    background-image: url(Assets/Images/55d0ff16a7bbb62ff5d0d5a7e0cb644f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 7px 8px;
    transition: box-shadow 0.8s linear;
    font-size: 1.8rem;
    color:rgb(115, 178, 194);
    opacity: 0.9;
}

.web h5{
    font-size: 2rem;
}

.web p{
    padding-left: 10px;
    padding-right: 10px;
}

.web:hover{
    box-shadow: 0 1px 7px 5px;
    border-width: 10px;
    opacity: 1.0;
}    

.inst{
    background-image: url(Assets/Images/5ff54ddea30ce18d19be97c935d9ca03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 7px 8px;
    transition: box-shadow 0.8s linear;
    font-size: 1.8rem;
    color: rgb(115, 178, 194);
    opacity: 0.9;
}

.inst h5{
    font-size: 2rem;
}

.inst p{
    padding-left: 10px;
    padding-right: 10px;
}

.inst:hover{
    box-shadow: 0 1px 7px 5px;
    border-width: 10px;
    opacity: 1.0;
}    

.prompt{
    text-align: center;
    background-color: aquamarine;
    background-image: url(Assets/Images/4D-Wallpaper-05-1920-x-1080.jpg);
    background-position: bottom;
    height: 30vh;
    padding-top: 20px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.link{
    width: 15px;
    background-color: rgba(81, 212, 230, 0.692);
    border-radius: 3px;
    font-size: 1.3rem;
    box-shadow: 0 1px 7px 10px;
    margin-right: 10px;
}

.face{
    width: 20px;
    background-color: rgba(81, 212, 230, 0.692);
    border-radius: 3px;
    font-size: 1.3rem;
    box-shadow: 0 1px 7px 10px;
    margin-right: 10px;
}

.twit{
    width: 20px;
    background-color: rgba(81, 212, 230, 0.692);
    font-size: 1.3rem;
    border-radius: 3px;
    box-shadow: 0 1px 7px 10px;
    margin-right: 10px;
}

.insta{
    width: 15px;
    background-color: rgba(81, 212, 230, 0.692);
    font-size: 1.3rem;
    border-radius: 3px;
    box-shadow: 0 1px 7px 10px;
    margin-right: 10px;
}

.me{
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
}

.me p:nth-child(1){
    font-size: 1.5rem;
}

footer{
    color: antiquewhite;
    padding-top: 10px;
}

@media screen and (min-width: 768px) {
    .details,
    .services{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .serve,
    .merge,
    .home{
        width: 100%;
    }

    #Drops{
        padding-left: 2rem;
        margin-left: 5rem;
    }

    .logo{
        padding-right: 4rem;
        margin-right: 1.6rem;
    }

    .query{
        padding-top: 1rem;
        margin-left: 6rem;
    }
}

@media screen and (max-width: 540px) {
    .container1{
        width: 100%;
    }

    .nav-item{
        width: 20%;
        padding-right: 10rem;
    }

    .details,
    .services,
    .prompt{
        width: 100%;
    }

    .merge{
        inline-size: 90%;
        padding-right: 4rem;
        overflow-y: scroll;
    }

    .query{
        padding-left: 9rem;
    }

    .logo{
        padding-left: 0rem;
        margin-left: 0rem;
    }

    #Drops{
        margin-right: 3rem;
    }

    .services h4{
        font-size: 3rem;
        padding-left: 5rem;
        margin-left: 5rem;
    }

    .serve{
        height: 120vh;
        width: 100%;
        display: block;
    }

    .ux{
        font-size: 1.5rem;
        overflow-y: scroll;
        height: 20vh;
    }

    .web{
        font-size: 1.5rem;
        overflow-y: scroll;
    }

    .inst{
        font-size: 1.5rem;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1024px) {
    #Drops{
        margin-left: 26rem;
    }

    .details{
        height: 50vh;
    }

    .merge{
        display: flex;
        justify-content: space-around;
        color: rgb(255, 72, 0);
        font-size: medium;
    }

    .query{
        margin-left: 10rem;
        padding-right: 1rem;
    }

    .next{
        height: 50vh;
    }
}